ion-content {
    --background: #74c5b8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    padding: 0;
  }
  
  ion-toolbar{
    --background: #74c5b8;
  }

  .button-container {
    margin-top: 20px;
    width: 100%;
    padding: 0 30px;
  }

  .button-container ion-button {
    width: 100%;
    margin: 10px 0;
  }

  .sign-in-button {
    --background: #e2001a;
    color: white;
  }

  .create-account-button {
    --background: white;
    --border-color: #e2001a;
    --border-width: 2px;
    color: #e2001a;
  }