.profile-container {
    padding: 16px;
  }
  
  .profile-header {
    display: flex;
    align-items: center;
  }
  
  .edit-avatar-button {
    margin-left: 16px;
  }
  
  .footer-item {
    color: var(--ion-color-primary);
  }
  