
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end" (click)="editPerfil()">
      <ion-icon slot="end" name="pencil" ></ion-icon>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list class="profile-container">
    <ion-item lines="none" class="profile-header">
      <ion-avatar slot="start">
        <img src="assets/avatar-placeholder.png" alt="Profile">
      </ion-avatar>
      <ion-button (click)="updatePerson()" fill="clear" class="edit-avatar-button">Edit picture or avatar</ion-button>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Name</ion-label>
      <ion-input [disabled]="editDatos" value="{{profile.person.name}}"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Lastname</ion-label>
      <ion-input [disabled]="editDatos"  value="{{profile.person.lastname}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">CI</ion-label>
      <ion-input [disabled]="editDatos" value="{{profile.person.ci}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Address</ion-label>
      <ion-input [disabled]="editDatos" value="{{profile.person.address}}"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Phone</ion-label>
      <ion-input [disabled]="editDatos"  value="{{profile.person.phone}}"></ion-input>
    </ion-item>
  
  </ion-list>

  <ion-list>
    <ion-item lines="none" class="footer-item">
      <ion-label>Cambiar usuario</ion-label>
    </ion-item>
    <ion-item lines="none" class="footer-item">
      <ion-label>Cambiar password</ion-label>
    </ion-item>
  </ion-list>
</ion-content>

